@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.register-btn {
    color: #289bde;
    border: 1px solid #289bde;
}

.carousel-item {
    position: relative;
}

.carousel-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption {
    bottom: 10.25rem;

}

.carousel-caption h5 {
    font-size: 40px;
    padding-bottom: 20px;

}

.carousel-caption p {
    font-size: 15px;
    text-align: center;
}

.slider-btn {
    background-color: #289bde;
    width: 180px;
    height: 56px;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
}

/*------------------------------------- slider end */
/* ---------------------------------container-1 start  */
.Popular {
    font-size: 15px;
}

.container-1 {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

/*------------------------------------ container-1 end */
/*------------------------------------ container-2 start */

.container-design {
    /* width: 550px; */
    /* height: auto; */
    border: 1px solid #ededed;
    /* overflow: hidden; */
}

.container-design-2 h2 {
    font-size: 18px;
    font-weight: 600;

}

.container-design-2 p {
    color: #777777;
    font-size: 13px;
    margin-bottom: 5px;

}

.Price {
    font-size: 15px;
}

.Questions {
    font-size: 45px;
}

.layout {
    font-size: 13px;
    color: #777777;
}

.company img {
    width: 100px;
    height: 20px;
}

.footer {
    background-color: #000;
}

.footer-p {
    font-size: 13px;
    color: #999999;
}

.fa-brands {
    background-color: #242424;
    color: #fff;
    width: 25px;

}